<%= form_for(@office) do |f| %>
  <% if @office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% @office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="inputExplanation" id="iE1">
		<h2>What is the next office on your ballot?</h2>
	</div>
	
    <%= f.hidden_field(:ballot_ids, :value => params[:ballot_id]) %>
    <%= f.hidden_field(:ballot_id, :value => params[:ballot_id]) %>
    <%= f.hidden_field(:voter_id, :value => params[:voter_id]) %>
  <div class="field">
		<% if params[:ballot_column].present? %>
			<%= f.hidden_field(:ballot_column, value: params[:ballot_column]) %>
		<% else %>
			<p>What column does this office appear in on the ballot?</p>
			<div id="ballot_columnSelector"><%= f.select :ballot_column, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6]], :selected => @ballot_column %></div>
		<% end %>
	</div>
	<div class="field">
    <p>Level of Government:</p>
    <%= f.text_field :tier, :placeholder => "eg. Supreme Court, State, County, etc" %>
  </div>
  <div class="field">
    <p>Position:</p>
    <%= f.text_field :office, :placeholder => "eg. Justice, Senator, Represenative, etc" %>
  </div>
  <div class="field">
    <p>District/Division:</p>
    <%= f.text_field :district, :placeholder => "if applicable" %>
  </div>

  <div class="actions">
    <%= f.button "Next" %>
  </div>
<% end %>
