
<%= form_for(@ballot) do |f| %>
  <% if @ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
      <% @ballot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<h1>What is the date of the election?</h1>
	
	<%= f.hidden_field :voter_id, value: params[:voter_id] %>
  <div class="field" id="selectElectionDate">
    <%= f.date_select :election_date, options = { order: [:month, :day, :year] } %>
  </div>

  <div class="actions">
    <%= f.button "Next" %>
  </div>
<% end %>
