<div class="inputExplanation" id="iE1">
	<h2>For that office, do any of the following apply?</h2>
	<p>You may want consider looking these up, if you don't know them, because it may help you make your decision later.</p>
	<p>Leave blank, if it doesn't apply.</p>
</div>

<%= render layout: 'form' do |f| %>

<div id="<%= params[:id] %>_fields">
		
		<%= f.hidden_field :office_id, value: params[:office_id] %>
		<%= f.select :simultaneousSeatholders, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8]], prompt: "How many can you select?" %>
		<div class="field">
    <p>District</p>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <p>Territory (description of the District, so you know what/who they represent)</p>
    <%= f.text_field :territory, placeholder: "eg. region, counties, or neighborhoods included" %>
  </div>
    <%= f.select :term_limit, options_for_select(["Yes", "No"]), prompt: "Is there a term limit?" %>
    <%= f.select :terms, [["1", 1], ["2", 2], ["3", 3], ["4", 4]], prompt: "If 'Yes', how many terms?" %>

</div>
	
<% end %>
