<div id="signInPage" class="gettingInPage">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div>
		<%= f.label :password %>
  	<%= f.password_field :password %>
		<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
		  <%= link_to "Forgot your password?", new_password_path(resource_name), :id => "password" %>
		<% end -%>
	</div>

  <div><%= f.button "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>