<p>create vote</p>
<% @ballot = ballot %>
<%= form_for @vote, :remote => true, :html => { id: "new_vote_#{politician.id}", :'data-update-target' => "vote_for_#{politician.id}"} do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :voter_id, :value => current_voter.id, :id => "#{politician.id}_voter_id" %>
    <%= f.hidden_field :ballot_id, :value => @ballot.id, :id => "#{politician.id}_ballot_id" %>
    <%= f.hidden_field :office_id, :value => office.id, :id => "#{politician.id}_office_id" %>
    <%= f.hidden_field :politician_id, :value => politician.id, :id => "#{politician.id}_politician_id" %>
		<%= submit_tag 'Opslaan', :remote => true, :name => "commit#{politician.id}", :style => 'display: none;' %>
		<p class="politician"><%= check_box_tag 'accept', nil, false, :class => 'changeVote', :id => "check_box_#{politician.id}", :onclick => "this.form.commit#{politician.id}.click();" %> <%= link_to politician.name, politician %> <%= link_to 'Add a Note', new_note_path(politician), :class => "newNoteButton" %></p>

<% end %>