<p id="notice"><%= notice %></p>

<div id="ballotInfo">
	<h2>
	  <%= @ballot.election_date.strftime("%B %d, %Y") %> Election Ballot
	</h2>

	<p>
	  <%= @ballot.county %> County, <%= @ballot.state %><br />
	  <%= @ballot.city %> - Ward: <%= @ballot.ward %>, Precinct: <%= @ballot.precinct %><br />
		<%= link_to 'online copy', @ballot.official_ballot, target: '_blank' %><br>
		<%= link_to 'edit info', edit_ballot_path(@ballot), :class => "inCase" %>
	</p>
	
</div>

<div id="ballotChoices">
	<div id="ballot_columns">

	<% unless @ballot.ballot_columns.nil? %>
		<% @ballot.ballot_columns.times do |column| %>
	
			<div class="ballot_column columns<%= @ballot.ballot_columns %>" id="column<%= column + 1 %>">
				
				<!-- LIST OUT ALL OF THE OFFICE ON THIS BALLOT -->
					<% @ballot.offices.where("ballot_column = ?", (column + 1)).each do |office| %>
						<% ballot = @ballot %>
						<% voter = @voter %>
				
								<p class="office"><%= office.tier %> <%= office.office %></p>
								<% unless office.district == "" %>
									<p class="district">District <%= office.district %></p>
								<% end %>

								<!-- FOR EACH OFFICE, LIST OUT ALL OF THE POLITICIANS RUNNING -->
								<% office.politicians.each do |politician| %>
										
										<div id="vote_for_<%= politician.id %>"><%= render 'votes/create_or_destroy_politician_vote', voter: voter, politician: politician, office: office, ballot: ballot %></div>

								<% end %>
							<%= link_to 'Add an option', new_voter_ballot_office_politician_path(office_id: office.id, ballot_id: ballot.id, voter_id: voter.id) %>
					
					<% end %>
		
				<p>
					<%= link_to 'Add an Office', another_new_voter_ballot_offices_path(ballot_id: params[:ballot_id], ballot_column: column + 1), :class => "newOfficeButton" %>
				</p>
								
			</div>

		<% end %>
	<% end %>
	
	</div>
</div>