<p id="notice"><%= notice %></p>

<div id="ballotInfo">
	<h2>
	  <%= @ballot.election_date.strftime("%B %d, %Y") %> Election Ballot - Undecided
	</h2>

	<p>
	  <%= @ballot.county %> County, <%= @ballot.state %><br />
	  <%= @ballot.city %> - Ward: <%= @ballot.ward %>, Precinct: <%= @ballot.precinct %><br />
		<%= link_to 'edit info', edit_ballot_path(@ballot), :class => "inCase" %>
	</p>
	
</div>

<div id="ballotChoices">
	<div id="ballotColumns">

	<% unless @ballot.ballotColumns.nil? %>
		<% @ballot.ballotColumns.times do |column| %>
	
			<div class="ballotColumn columns<%= @ballot.ballotColumns %>" id="column<%= column + 1 %>">
				
				<!-- LIST OUT ALL OF THE OFFICES ON THIS BALLOT -->
					<% @ballot.offices.where("ballotColumn == ?", (column + 1)).where.not(id: @votes.pluck(:office_id)).each do |office| %>
					
							<% ballot = @ballot %>
							<% voter = @voter %>
				
							<p class="office"><%= office.tier %> <%= office.office %></p>
							<% unless office.district == "" %>
								<p class="district">District <%= office.district %></p>
							<% end %>

							<!-- FOR EACH OFFICE, LIST OUT ALL OF THE POLITICIANS RUNNING -->
							<% office.politicians.each do |politician| %>
								
									<div id="vote_for_<%= politician.id %>"><%= render 'votes/create_or_destroy_politician_vote', politician: politician, office: office, ballot: ballot, voter: voter %></div>

							<% end %>
					
					<% end %>
		
				<p>
					<%= link_to 'Add an Office', new_office_path(column + 1), :class => "newOfficeButton" %>
				</p>
								
			</div>

		<% end %>
	<% end %>
	
	</div>
</div>