<div class="inputExplanation" id="iE1">
	
	<h1>Where did you last leave off on the below ballot?</h1>
	<h2>1) <%= link_to "Need to add more stuff to the ballot", under_construction_voter_ballot_vote_path(params[:voter_id], params[:ballot_id], params[:id]) %></h2>
	<h2>2) <%= link_to "Need to select my easy votes", easy_votes_voter_ballot_vote_path(params[:voter_id], params[:ballot_id], params[:id]) %></h2>
	<h2>3) <%= link_to "Working through the remaining votes", undecided_votes_voter_ballot_vote_path(params[:voter_id], params[:ballot_id], params[:id]) %></h2>
	<h2>4) <%= link_to "Completed", ready_for_the_election_voter_ballot_vote_path(params[:voter_id], params[:ballot_id], params[:id]) %></h2>
	
</div>
<hr>

<%= render 'full_voting_ballot' %>