<h1>Listing politicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Party</th>
      <th>Offices</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @politicians.each do |politician| %>
      <tr>
        <td><%= politician.name %></td>
        <td><%= politician.party %></td>
        <td><%= politician.office_ids %></td>
        <td><%= link_to 'Show', politician %></td>
        <td><%= link_to 'Edit', edit_politician_path(politician) %></td>
        <td><%= link_to 'Destroy', politician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Politician', new_politician_path %>

<p>
	<%= link_to 'Back to Offices', offices_path %>
</p>