<div class="inputExplanation" id="iE1">
	<h2>Enter a voting option:</h2>
</div>

<%= form_for(@politician) do |f| %>
  <% if @politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@politician.errors.count, "error") %> prohibited this politician from being saved:</h2>

      <ul>
      <% @politician.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="candidateFields">
	  <%= f.hidden_field(:office_ids, :value => session[:office_id]) %>
	
		<div class="field">
		  <p>Name</p>
		  <%= f.text_field :name, :autofocus => "autofocus" %>
		</div>
		<div class="field">
		  <p>Party</p>
		  <%= f.text_field :party, :placeholder => "if applicable" %>
		</div>
	

	</div>
	
  <div class="actions">
    <%= f.button "Add the next candidate" %>
		<%= f.button "No one else for this office. Next Office", :name => 'next_office' %>
		<%= f.button "The ballot is complete", :name => "ballot_review" %>
  </div>
	
<% end %>