<!DOCTYPE html>
<html>
<head>
  <title>BallotBreakdown</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
	
	<p class="alert"><%= alert %></p>
	
	<div id="page">
		<%= yield %>
	</div>
	
	<div id="voter_nav">
		<% if voter_signed_in? %>
		  Logged in as <strong><%= current_voter.email %></strong>.<br>
		  <%= link_to 'Edit profile', edit_voter_registration_path %> |
		  <%= link_to "Logout", destroy_voter_session_path, method: :delete %>
			<% if controller_name == 'ballots' && action_name == 'show' %>
				 | <%= link_to "back to All Ballots", ballots_path %>
			<% end %>
		<% end %>
	</div>
	
</body>
</html>
